@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menu Link Hover Effect */
.menu-link {
  @apply font-semibold leading-normal relative;
}

.menu-link > a,
.menu-link > li,
.menu-link > p {
  cursor: pointer;
}

.menu-link > a::after,
.menu-link > p::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* .menu-link > a:hover::after,
.menu-link > p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.menu-link > a:hover::after,
.menu-link > p:hover::after,
.menu-link > a.active::after,
.menu-link > p.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.example::-webkit-scrollbar {
  display: none;
}

.footer-link > li {
  @apply hover:underline underline-offset-4 cursor-pointer decoration-orange-500;
}
